box-model {
    color: black;
}

body {
    background-color: beige;
    font-size: 20px;
 }
 h1{
 color: gold
 }
 div{
    background-color: silver;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
 }

 h3 {
color:blueviolet;
 }

 h4 {
    color: royalblue;
 }
 
 h5 {
    color: hotpink;
 }


 div:hover{
    background-color: skyblue;
    }

    
    

    h2 {
        color: pink;
     }
     div {
        background-color: silver;
        border-style: solid;
        border-color: black;
        border-radius: 5px;
     }
     
    
     
     div:hover{
     background-color: skyblue;
     }
     
     
     
     
     table{
     border-collapse: collapse;
     width:100%;
     }
    
     
     th, td{
     padding:8px;
     text-align:left;
     border-bottom: 1px solid black
     }
     
    
     tr:nth-child(even) {
     background-color: orangered;
     }


 form{
    background-color: grey;
   }
    form:hover{
    background-color: orange;
   }
 
 <p>{
    color: yellow;
}