box-model {
    color: grey;
}

body {
    background-color: beige;
    font-size: 20px;
 }
 h1{
 color: gold
 }
 div{
    background-color: darkseagreen;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
 }


 div:hover{
    background-color: skyblue;
    }

    
    

    h1 {
        color: gold;
     }
     div {
        background-color: darkseagreen;
        border-style: solid;
        border-color: black;
        border-radius: 5px;
     }

      <p>h2 {
        color: pink
      }

     
    
     
     div:hover{
     background-color: skyblue;
     }
     
     
     
     
     table{
     border-collapse: collapse;
     width:100%;
     }
    
     
     th, td{
     padding:8px;
     text-align:left;
     border-bottom: 1px solid black
     }
     
    
     tr:nth-child(even) {
     background-color: orangered;
     }


 form{
    background-color: grey;
   }
    form:hover{
    background-color: orange;
   }
 